/**
* Portfolio grid stylesheet
*/

.portfolio-grid {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 1px;

  .portfolio-grid-item {
    grid-row-end: span var(--row-span, 20);

    img {
      opacity: 1;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
      &:hover {
        opacity: 0.7;
      }
     }
  }
}



