$body-bg-color:black;
$body-color:white;
$page-bg-color:#252525;
$page-margin: 50px;

body {  
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  //font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color:$body-bg-color;
  color:$body-color;
  width:100%;
  height:100%;
}

.main-container {
  z-index: 1;
  position: absolute;
  top:50px;
  width: 100%;
  margin: 0px;
  height:80%;
  .page {
    z-index: 1;
    top:0px;
    min-height: 800px;
    margin-left: $page-margin;
    margin-right:  $page-margin;
    background-color: $page-bg-color;
    display: none;
    &.active {
      display: block;
    }
  }

  #accueil {

  }

  #portfolio {

  }

  #evenements {
  
  }

  #contact {
 
  }

  #a-propos {
 
  }

  footer {
    position: static;
    height: 50px;
  }
}

