// header background color
//$header-bg-color:black;
$header-bg-color:black;
// menu color
$menu-color: #959595;
// menu color when mouse over
$menu-hover-color: white;
// header height
$header-height: 50px;
// header margin, used for left and right side
$header-margin: 50px;


// menu definition in horizontal mode (not responsive)
nav {
  z-index: 3;
  background-color: $header-bg-color;
  position: fixed;
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  a {
    text-decoration: none;
  }
  .logo {
    float:left;
    font-size: 1em;
    letter-spacing: 2px;
    margin-left: $header-margin;
    a {
      color:$menu-hover-color;
    }
  }
  .menu {
    float: right;  
    display:block;
    margin-right: $header-margin;
    a {
      font-size: 0.7em;
      padding-left: 10px;
      padding-right: 10px;
      color:$menu-color;
      &:hover {
        color: $menu-hover-color;
      }
    }  
    .hamburger {
      display: none;
      font-size: 1.3em;
      color:$menu-hover-color;
    }
  }
}

// Responsive mode
// hamburger icon becomes visible and horizontal menu is hidden
// when hamburger icon is clicked : responsive class is added to menu's classList by javascript code (header.js) and menu appears vertically
@media screen and (max-width: 800px) {
nav {
  .menu {
    a {
      display: none;
    }
    a.hamburger {
      float: right;
      display: block;
    }
  }
  .menu.responsive {
    float:none;
    clear: both;
    background-color: $header-bg-color;
    position: relative;
    a {
      margin-left: $header-margin;
      display: block;
    }
    a.hamburger {
      position: absolute;
      top:-50px;
      right: 0px;
    }
  }
}
}