$body-bg-color:black;
$body-color:white;
$page-bg-color:#161616;
$page-margin: 50px;

body {  
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  //font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color:$body-bg-color;
  color:$body-color;
  width:100%;
  height:100%;
}

#pages {
  z-index: 1;
  position: relative;
  top:50px;
  width: 100%;

  #accueil {
    z-index: 1;
    top:0px;
    min-height: 800px;
    height:100%;
    margin-left: $page-margin;
    margin-right:  $page-margin;
    background-color: $page-bg-color;
  }

  #portfolio {
    z-index: 1;
    top:0px;
    min-height: 800px;
    height:100%;
    margin-left: $page-margin;
    margin-right:  $page-margin;
    background-color: $page-bg-color;
  }

  #evenements {
    top:0px;
    min-height: 800px;
    height:100%;
    margin-left: $page-margin;
    margin-right:  $page-margin;
    background-color: $page-bg-color;
  }

  #contact {
    top:0px;
    min-height: 800px;
    height:100%;
    margin-left: $page-margin;
    margin-right:  $page-margin;
    background-color: $page-bg-color;
  }

  #a-propos {
    top:0px;
    min-height: 800px;
    height:100%;
    margin-left: $page-margin;
    margin-right:  $page-margin;
    background-color: $page-bg-color;
  }
}

div.page {
  display: none;
} 

div.page.active {
    display: block;
}

